.nomi_hack{
  border: 1px solid red;
}

:root{
  /* RGB */
--color1: rgba(13, 19, 33, 1);
--color2: rgba(29, 45, 68, 1);
--color3: rgba(79, 106, 130, 1);
--color4: rgba(166, 181, 201, 1);
--color5: rgba(240, 235, 216, 1);
}
.my_jumbotron{
  padding: 0;
  border-radius: 10px;
  box-shadow: 0px 2px 20px 2px var(--color2)
}
body{
  background: var(--color3);
}

.data_table_container{
  text-align: center;
}
.data_table_container table {
  display: inline-table;
  margin-bottom: 10px;
}
.data_table_container table th,td {
  padding: 2px 25px;
  border: 1px solid black;
}
